*{
margin:0px;
padding: 0px;
}
body {
  color: #fff;
  font-family: "Chalet", Helvetica, Verdana;
  font-size: 16px;
  }

 #menu{
  position: fixed;	
  width: 100%;
  height: 70px;
  margin-left: 0 auto;
  z-index: 100;
 }
 #cont{
 margin-top: 70px;
 }
 #contenedor{
 background: #212121 url(/imagenes/fondo.jpg);
 margin: 0 auto; 
 height: 800px;

 } 

 h3{text-align: center;color:#fff;}

 .registro,.login{
  width: 410px;
  color:black;
  margin: 0px auto;
 }

 input{
padding: 10px;
font-size: 16px;
border-radius: 5px;
margin: 5px;
width: 400px;

 }
input::-webkit-input-placeholder { color:black; }

#btnRegistro,#btnLogin{
width: 100px;
height: 45px;
width: 400px;
margin: 5px;
align:center;
}

#panel{
color: #000;
width: 450px;
margin: 0 auto;
margin-top: 25%;
}

#pie{
position: absolute;
background-color: #7A858C;
width: 100%;
height: 70px;
}

/*Principal*/
#contenedor_p{
position: relative;	
background: #212121 url(/imagenes/fondo.jpg);
width: 100%;
min-height: 900px;	
margin: 0 auto;
}